<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">My Library</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a class="btn btn-light text-dark" href="{% url 'home' %}">Home</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-light text-dark" href="{% url 'deposit' %}">Deposit</a> 
          </li>
          {% endif %}
        </ul>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item mx-3">
              <a class="btn btn-light text-dark" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-danger text-dark" href="{% url 'logout' %}">Log Out</a> 
            </li>
            {% else %}
            <li class="nav-item mx-3">
              <a class="btn btn-secondary text-dark" href="{% url 'register' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-light text-dark" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>